@font-face {
    font-family: Antonella script X Bold; 
    src: url('../fonts/Antonella_script.ttf');
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

/* Header */
.surname-and-name {
    font-family: Antonella script X Bold;
    text-transform: none;
    font-size: 50px;
}

.navbar {
    padding: 0;
}

.navbar-dark, .navbar-nav, .navbar-link {
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
}

.bord-not-active:hover {
    transition: all .4s;
    box-shadow: 0px -10px 0px -8px rgba(255,255,255,.55) inset; 
}

.bord-active:hover {
    transition: all .4s;
    box-shadow: 0px -10px 0px -8px#fff inset; 
}

/* //Header */

/* Carousel */
.my-carousel {
    padding: 0;
}

.my-carousel .carousel-item {
    display: flex;
    max-height: 300px;
}

.my-carousel .carousel-item img {
    object-fit: cover;
}

/* //Carousel */

/* About Me */
.content {
    padding-top: 35px;
    padding-bottom: 5px;
}

.content h3 {
    color: #4a5054;
    text-transform: uppercase;
    font-size: 1.5em;
}
.content p {
    color: #7C7C7C;
    
}

.content a {
    color: #7C7C7C;
    text-decoration: none;
}

.content a:hover {
    color: #3f3e3e;
    text-decoration: underline;
}
/* //About Me */

/* Footer */
.footer {
    background-color: #343434;
}

.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a {
    text-decoration: none;
    transition: all .3s;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer a, .footer li {
    color: #c8c8c8;
}

.footer li a {
    display: block;
}

.footer-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

@media (min-width: 768px) {
    .email {
        font-size: 12px;
    }
}
/* //Footer */
