/* style FORM  */
/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 930px;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 0;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
  margin-right: 0;
}

.contact-form {
  margin: 2rem 0;
  margin-right: 0;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
  margin-right: 0;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
  margin-right: 0;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 930px;
  margin-right: 0;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  margin-right: 0;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
  margin-right: 0;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
  margin-right: 0;
  padding: 6px 37px;
  border-radius: 5px;
}

#fs-frm select {
  text-transform: none;
  margin-right: 0;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
  margin-right: 0;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
  margin-right: 0;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 50%;
  margin-right: 0;
}

#fs-frm-inputs {
  margin-right: 0;
}


@media (max-width: 1150px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 670px;}
}

@media (max-width: 750px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 520px;}
}

@media (max-width: 600px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 420px;}
}

@media (max-width: 500px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 320px;}
}

@media (max-width: 400px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 250px;}
}

/*
@media (max-width: 720px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
     width: 300px;
  }
}

@media (max-width: 360px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
     width: 266px;
  }
}
*/
