@media (max-width: 1370px) {
    .social-component {width: 900px;}
}
    
@media (max-width: 1150px) {
    .social-component {flex-direction: column;height: 100%;justify-content: space-between; align-items: center;}
    .social-two-el {padding: 30px 0px 30px 25px; justify-content: space-between; align-items: center;}
}
@media (max-width: 750px) {
    .social-component {width: 600px;}
}

@media (max-width: 650px) {
    .social-component {width: 400px;}
}

@media (max-width: 550px) {
    .social-component {padding-top: 20px; width: 300px; height: 440px;}
    .social-two-el {padding: 0px; display: flex; flex-direction: column;  align-items: center; height: 200px;}
}
