
/* Menu  */

.menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #2c3137;
}
.menu-mobile:after {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 38px;
    line-height: 38px;
    padding: 0;
    color: #FFF;
    float: right;
    position: relative;
    transform: translateY(-25%);
}
.menu-dropdown-icon:before {
    content: "\f078";
    display: none;
    cursor: pointer;
    float: right;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2c3137;
    color: #FFF;
    font-size: 20px;
}
.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}
.menu > ul:after {
    clear: both;
}
.menu > ul > li {
    float: left;
    background-color: #2c3137;
    padding: 0;
    margin: 0;
    transition: .2s ease-in-out;
}
.menu > ul > li a,
.menu-mobile {
    text-decoration: none;
    padding: 20px 30px;
    display: block;
    color: #FFF;
    font-size: 20px;
    line-height: 20px;
    transition: .2s ease-in-out;
}
.menu-mobile {
    display: none;
}
.menu > ul > li:hover {
    background-color: #2c3137;
}
.menu > ul > li:hover a {
    color: hsla(0,0%,100%,.7);
}

@media only screen and (max-width: 920px) {
    .menu-container {
        display: block;
        width: 100%;
    }
    
    .menu-mobile {
        display: block;
    }

    .menu-dropdown-icon:before {
        display: block;
    }

    .menu > ul {
        display: none;
    }

    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        background-color: #2c3137;
    }
    
     .menu > ul > li:hover {
        background-color: #24292d;
    }

    .menu > ul > li a {
        padding: 20px;
        width: 85%;
        display: block;
        color: rgb(255, 255, 255);
    }
    
    .menu .show-on-mobile {
        display: block;
    }
}   
