@font-face {
    font-family: Antonella script X Bold; 
    src: url('../fonts/Antonella_script.ttf');
}

/* Scroll Bars */
::-webkit-scrollbar {
    width:12px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: tomato;
    opacity: 1;
    border-radius: 10px;
    height: 300px;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: red;
    opacity: 0;
    -webkit-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-width:0;
}

::-webkit-scrollbar-track:hover {
    border-left: solid 1px #aaa;
}
/* End Scroll Bars */

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    	margin: 0;
        padding: 0;
    	font-family: 'Montserrat', sans-serif;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.o-hidden {
    overflow: hidden;
}

/* progress */
 .progress {
     position: fixed;
     left: 0;
     top: 0;
     width: 0%;
     height: 4px;
     background-color: tomato;
     z-index:20;
}
 .progress:hover {
     background-color: red; 
}

/* header */
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    background-color: #2c3137;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
	background-color: #24292d;
}

.adress-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 90%;
    height: 42px;
    padding-bottom: 5px;
	background-color: #24292d;
}

.adress-content-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    color: #fff;
    font-size: 14px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    margin-right: 3px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
        -webkit-font-feature-settings: 'liga';
                font-feature-settings: 'liga';
}

.adress-color-a {
	color: #fff;
}

a {
    text-decoration: none;
    padding: 0 1em;
    display: inline-block;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    color: #3a3a3a;
    font-size: 14px;
}

a:hover {
    color: #2355da;
     outline: 0;
}

.heading-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	width: 70%;
	height: 100%;
    background-color: #2c3137;
	padding: 20px 0;
}
   
.header-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.surname-and-name{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);	
    font-size: 6em;
    font-family: Antonella script X Bold;
    text-shadow: rgb(100, 100, 100) 5px 0 5px,
    rgb(100, 100, 100) 0 1px 0px,
    rgb(100, 100, 100) -1px 0 0px,
    rgb(100, 100, 100) 0 -1px 0px;
}

.header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
    width: 120px;
}

.header-contact-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 	
    background-color: white;
    border-radius: 50px;
	padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 13px;
    color: #4de55c ;
    border: 2px solid #4de55c;
    line-height: 3.2em; 
    outline: none;
    width: 120px;
    transition: 1s;
}

particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-contact-call:hover {
    color: white;
    background-color: #4de55c ;
    border:2px solid rgb(255, 255, 255);
}

/* Menu  */

.menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #2c3137;
}

.menu-mobile:after {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 38px;
    line-height: 38px;
    padding: 0;
    color: #FFF;
    float: right;
    position: relative;
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f078";
    display: none;
    cursor: pointer;
    float: right;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2c3137;
    color: #FFF;
    font-size: 20px;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}
.menu > ul:after {
    clear: both;
}
.menu > ul > li {
    float: left;
    background-color: #2c3137;
    padding: 0;
    margin: 0;
    transition: .2s ease-in-out;
}
.menu > ul > li a,
.menu-mobile {
    text-decoration: none;
    padding: 20px 30px;
    display: block;
    color: #FFF;
    font-size: 20px;
    line-height: 20px;
    transition: .2s ease-in-out;
}
.menu-mobile {
    display: none;
}
.menu > ul > li:hover {
    background-color: #2c3137;
}
.menu > ul > li:hover a {
    color: hsla(0,0%,100%,.7);
}

@media only screen and (max-width: 920px) {
        .menu-container {
        display: block;
        width: 100%;
    }
    
	.menu-mobile {
        display: block;
    }

    .menu-dropdown-icon:before {
        display: block;
    }

    .menu > ul {
        display: none;
    }

    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        background-color: #2c3137;
    }
    
     .menu > ul > li:hover {
        background-color: #24292d;
    }

    .menu > ul > li a {
        padding: 20px;
        width: 85%;
        display: block;
        color: rgb(255, 255, 255);
    }
    
    .menu .show-on-mobile {
        display: block;
    }
}  

/*sticky menu*/
.sticky {
     position: sticky;
     top: 0;
     z-index: 19;
}

/*Smooth Scrolling*/
.top-link {
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   /* margin: 0 3em 3em 0;*/
    margin: 0 2em 7.5em 0;
    border-radius: 5px;
    padding: 0.25em;
    width: 40px;
    height: 30px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
     z-index: 17;
}
.top-link.show {
    visibility: visible;
    opacity: 1;
}
.top-link.hide {
    visibility: hidden;
    opacity: 0;
}
.top-link svg {
    fill: tomato;
    width: 14px;
    height: 12px;
}
.top-link:hover {
    background-color: #e8e8e8;
}
.top-link:hover svg {
    fill: red;
}
.screen-reader-text {
    position: absolute;
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);
}
.screen-reader-text:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000;
    -webkit-clip-path: none;
            clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
}

/* skills */
.skills-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.skills-component-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-align: end;
            -ms-flex-align: end;
                    align-items: flex-end;
    width: 1300px;
    background-color: #fff;
}

.election-img-box {
    height: 600px;
    width: 600px;
    background-image:  url('../images/imgBackgr.png');
    -webkit-box-shadow: inset -30px -200px 70px -107px rgba(255,255,255,1);
    -moz-box-shadow: inset -30px -200px 70px -107px rgba(255,255,255,1);
    box-shadow: inset -30px -200px 70px -107px rgba(255,255,255,1);
    background-size: cover;
    margin-top: 70px;
    padding-left: 100px;
}

.election-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   height: 100%;
   padding: 185px 0 115px;
}

.element-elections-title {
    text-align: center;
    height: 42px;
    padding-top: 50px;
    text-transform: uppercase;
    color: #66696c;
    font-size: 38px;
    font-weight: 700;
    -webkit-animation: pulsate 10.0s linear infinite;
            animation: pulsate 10.0s linear infinite;
}

@-webkit-keyframes pulsate {
    50% { 
        color: #ffffff;
        text-shadow: rgb(100, 100, 100) 5px 0 5px,
        rgb(100, 100, 100) 0 1px 0px,
        rgb(100, 100, 100) -1px 0 0px,
        rgb(100, 100, 100) 0 -1px 0px; 
    }
}

@keyframes pulsate {
    50% { 
        color: #ffffff;
        text-shadow: rgb(100, 100, 100) 5px 0 5px,
        rgb(100, 100, 100) 0 1px 0px,
        rgb(100, 100, 100) -1px 0 0px,
        rgb(100, 100, 100) 0 -1px 0px; 
    }
}

.election-table-box {
    margin-top: 40px;
    height: 100%;
    width: 400px; 
}

/* Accordeon */
.accordion-group { 
    margin: 16px 0;
    width: 100%; 
}

.accordion-body {
    display: none;
    padding: 14px 20px;
    background: #FFF;
    border-radius: 5px;
    margin: 8px 0;
    border: 2px solid #BFE2FF;  
    /*text-align: center;*/
    text-indent: 1.5em;
}
.accordion-body > * > .accordion-body {
    background: #FFF;
    margin: 0;
}
.accordion-header {
    background: #BFE2FF;
    margin: 8px 0;
    color: #000;
    padding: 8px 40px 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}
.accordion-header::after {
    content: "+";
    right: 16px;
    font-family: Courier;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    color: #337AB7;
    position: absolute;
}
.accordion-header.open {
    background: #337AB7;
    color: #fff;
    font-weight: bold
}
.accordion-header.open::after {
    content: "-";
    color: #FFF;    
}
/*End accordeon*/

/* about-me*/
.about-me-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #fff;
}

.about-me-title {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    padding-top: 50px;
    text-align: center;
    color: #66696c;
    background-color: #fff;
    -webkit-animation: pulsate 10.0s linear infinite;
            animation: pulsate 10.0s linear infinite;
}

.about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
    text-indent: 20px;
    line-height: 3;
    width: 800px;
    height: 100%;
    font-weight: normal;
    background-color: #fff;
    color: #66696c;
    margin-bottom: 55px;
}

.about-me-a {
     padding: 0;
     margin: 0;
     color: #66696c;
     text-indent: none;
     text-align: justify;
     text-decoration: underline;
}

/* interests */
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
   }
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
   }
}

.vertical-margin {
    margin: 50px 0;
}

.slider {
    background: #fff;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

@media (max-width: 1000px) {
    .slider {width: 800px;}
}

@media (max-width: 830px) {
    .slider {width: 700px;}
}

@media (max-width: 730px) {
    .slider {width: 600px;}
}

@media (max-width: 630px) {
    .slider {width: 500px;}
}

@media (max-width: 530px) {
    .slider {width: 400px;}
}

@media (max-width: 430px) {
    .slider {width: 300px;}
}

.slider::before, .slider::after {
    /* right */
    -webkit-box-shadow: inset -200px -34px 70px -124px rgba(255,255,255,1);
    -moz-box-shadow: inset -200px -34px 70px -124px rgba(255,255,255,1);
    box-shadow: inset -200px -34px 70px -124px rgba(255,255,255,1);

    /* left */
    -webkit-box-shadow: inset 200px -34px 70px -124px rgba(255,255,255,1);
    -moz-box-shadow: inset 200px -34px 70px -124px rgba(255,255,255,1);
    box-shadow: inset 200px -34px 70px -124px rgba(255,255,255,1);
	
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

/* gallery */
.gallery-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:100%;
    height:100%;
    padding: 10px 0 50px;
    background-color: #fff;
}

.gallery-component-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1300px;
    height:100%;
    padding: 10px 0 50px;
    background-color: #fff;
}

.gallery-component-title {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: #66696c;
    -webkit-animation: pulsate 10.0s linear infinite;
            animation: pulsate 10.0s linear infinite;
}

.gallery-component-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0 10px;
    margin-bottom: 10px;
    width: 1000px;
    height: 150px;
}

.gallery-component-images-box img  {
    height: 150px;
    width: 150px;
}

.gallery-component-images-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer; 
}

.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
        display: none;
	width:700px;
	height:700px;
}

.container-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.closebtn {
    cursor: pointer;
} 


.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider arrow skin 093 css*/
.jssora093 {display:block;position:absolute;cursor:pointer;}
.jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093:hover {opacity:.8;}
.jssora093.jssora093dn {opacity:.6;}
.jssora093.jssora093ds {opacity:.3;pointer-events:none;}

/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
.jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
.jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
.jssort101 .p:hover{padding:2px;}
.jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
.jssort101 .p:hover.pdn{padding:0;}
.jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
.jssort101 .pav .cv {border-color:#fff;opacity:.35;}
.jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
.jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
.jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}

/* calendar */
.calendar {
    margin: 0 auto;
    padding-bottom: 100px;
}

.width-iframe {
	width: 975px;
}

@media (max-width: 1150px) {
       .calendar {width: 700px;}
       .width-iframe {width: 700px;}
}

@media (max-width: 750px) {
        .calendar {width: 550px;}
	.width-iframe {width: 550px;}
}

@media (max-width: 600px) {
         .calendar {width: 450px;}
	 .width-iframe {width: 450px;}
}

@media (max-width: 500px) {
         .calendar {width: 350px;}
	 .width-iframe {width: 350px;}
}

@media (max-width: 400px) {
       .calendar {width: 280px;}
       .width-iframe {width: 280px;}
}

/*
 * Table styles
 */
 table.dataTable {
    width: 77%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1vw;
    /*
     * Header and footer styles
     */
    /*
     * Body styles
     */
  }
  .favorite-books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:975px;
    margin: 0 auto;
    padding-bottom: 60px;
  }

  .reed-book {
    font-size: 1vw;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    text-align: center; border-radius: .25rem; line-height: 1.5;
  }
  .reed-book:hover {
    background-color: white;
    border: 1px solid #007bff;
  }

  select {font-size: 1vw;}

  table.dataTable thead th,
  table.dataTable tfoot th {
    font-weight: bold;
  }
  table.dataTable thead th,
  table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
  }
  table.dataTable thead th:active,
  table.dataTable thead td:active {
    outline: none;
  }
  table.dataTable tfoot th,
  table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #111;
  }
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
  }
  table.dataTable thead .sorting {
    background-image: url("../images/sort_both.png");
  }
  table.dataTable thead .sorting_asc {
    background-image: url("../images/sort_asc.png");
  }
  table.dataTable thead .sorting_desc {
    background-image: url("../images/sort_desc.png");
  }
  table.dataTable thead .sorting_asc_disabled {
    background-image: url("../images/sort_asc_disabled.png");
  }
  table.dataTable thead .sorting_desc_disabled {
    background-image: url("../images/sort_desc_disabled.png");
  }
  table.dataTable tbody tr {
    background-color: #ffffff;
  }
  table.dataTable tbody tr.selected {
    background-color: #B0BED9;
  }
  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 8px 10px;
  }
  table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #ddd;
  }
  table.dataTable.row-border tbody tr:first-child th,
  table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
  table.dataTable.display tbody tr:first-child td {
    border-top: none;
  }
  table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  table.dataTable.cell-border tbody tr th:first-child,
  table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #ddd;
  }
  table.dataTable.cell-border tbody tr:first-child th,
  table.dataTable.cell-border tbody tr:first-child td {
    border-top: none;
  }
  table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9;
  }
  table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
    background-color: #acbad4;
  }
  table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #f6f6f6;
  }
  table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
    background-color: #aab7d1;
  }
  table.dataTable.order-column tbody tr > .sorting_1,
  table.dataTable.order-column tbody tr > .sorting_2,
  table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
  table.dataTable.display tbody tr > .sorting_2,
  table.dataTable.display tbody tr > .sorting_3 {
    background-color: #fafafa;
  }
  table.dataTable.order-column tbody tr.selected > .sorting_1,
  table.dataTable.order-column tbody tr.selected > .sorting_2,
  table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
  table.dataTable.display tbody tr.selected > .sorting_2,
  table.dataTable.display tbody tr.selected > .sorting_3 {
    background-color: #acbad5;
  }
  table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1;
  }
  table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    background-color: #f3f3f3;
  }
  table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
    background-color: whitesmoke;
  }
  table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
    background-color: #a6b4cd;
  }
  table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
    background-color: #a8b5cf;
  }
  table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
    background-color: #a9b7d1;
  }
  table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #fafafa;
  }
  table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    background-color: #fcfcfc;
  }
  table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    background-color: #fefefe;
  }
  table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    background-color: #acbad5;
  }
  table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
    background-color: #aebcd6;
  }
  table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
    background-color: #afbdd8;
  }
  table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: #eaeaea;
  }
  table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
    background-color: #ececec;
  }
  table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
    background-color: #efefef;
  }
  table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
    background-color: #a2aec7;
  }
  table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
    background-color: #a3b0c9;
  }
  table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
    background-color: #a5b2cb;
  }
  table.dataTable.no-footer {
    border-bottom: 1px solid #111;
  }
  table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap;
  }
  table.dataTable.compact thead th,
  table.dataTable.compact thead td {
    padding: 4px 17px;
  }
  table.dataTable.compact tfoot th,
  table.dataTable.compact tfoot td {
    padding: 4px;
  }
  table.dataTable.compact tbody th,
  table.dataTable.compact tbody td {
    padding: 4px;
  }
  table.dataTable th.dt-left,
  table.dataTable td.dt-left {
    text-align: left;
  }
  table.dataTable th.dt-center,
  table.dataTable td.dt-center,
  table.dataTable td.dataTables_empty {
    text-align: center;
  }
  table.dataTable th.dt-right,
  table.dataTable td.dt-right {
    text-align: right;
  }
  table.dataTable th.dt-justify,
  table.dataTable td.dt-justify {
    text-align: justify;
  }
  table.dataTable th.dt-nowrap,
  table.dataTable td.dt-nowrap {
    white-space: nowrap;
  }
  table.dataTable thead th.dt-head-left,
  table.dataTable thead td.dt-head-left,
  table.dataTable tfoot th.dt-head-left,
  table.dataTable tfoot td.dt-head-left {
    text-align: left;
  }
  table.dataTable thead th.dt-head-center,
  table.dataTable thead td.dt-head-center,
  table.dataTable tfoot th.dt-head-center,
  table.dataTable tfoot td.dt-head-center {
    text-align: center;
  }
  table.dataTable thead th.dt-head-right,
  table.dataTable thead td.dt-head-right,
  table.dataTable tfoot th.dt-head-right,
  table.dataTable tfoot td.dt-head-right {
    text-align: right;
  }
  table.dataTable thead th.dt-head-justify,
  table.dataTable thead td.dt-head-justify,
  table.dataTable tfoot th.dt-head-justify,
  table.dataTable tfoot td.dt-head-justify {
    text-align: justify;
  }
  table.dataTable thead th.dt-head-nowrap,
  table.dataTable thead td.dt-head-nowrap,
  table.dataTable tfoot th.dt-head-nowrap,
  table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap;
  }
  table.dataTable tbody th.dt-body-left,
  table.dataTable tbody td.dt-body-left {
    text-align: left;
  }
  table.dataTable tbody th.dt-body-center,
  table.dataTable tbody td.dt-body-center {
    text-align: center;
  }
  table.dataTable tbody th.dt-body-right,
  table.dataTable tbody td.dt-body-right {
    text-align: right;
  }
  table.dataTable tbody th.dt-body-justify,
  table.dataTable tbody td.dt-body-justify {
    text-align: justify;
  }
  table.dataTable tbody th.dt-body-nowrap,
  table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap;
  }
  
  table.dataTable,
  table.dataTable th,
  table.dataTable td {
    box-sizing: content-box;
  }
  
  /*
   * Control feature layout
   */
  .dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
  }
  .dataTables_wrapper .dataTables_length {
    float: left;
  }
  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
  }
  .dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
  }
  .dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
  }
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
    font-size: 1vw;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 1vw;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
    /* W3C */
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
    /* W3C */
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    /* W3C */
    box-shadow: inset 0 0 3px #111;
  }
  .dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em;
  }
  .dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1vw;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  }
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
    color: #333;
    font-size: 1vw;
  }
  .dataTables_wrapper .dataTables_scroll {
    clear: both;
  }
  .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
  }
  .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
    vertical-align: middle;
  }
  .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
  .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
  .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
  }
  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #111;
  }
  .dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
  .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
    border-bottom: none;
  }
  .dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
  }
  
  @media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
      float: none;
      text-align: center;
    }
    .dataTables_wrapper .dataTables_paginate {
      margin-top: 0.5em;
    }
  }
  @media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
      float: none;
      text-align: center;
    }
    .dataTables_wrapper .dataTables_filter {
      margin-top: 0.5em;
    }
  }
  
/*@media favorite-books */
@media (max-width: 1150px) {
  .favorite-books {width: 700px;}
}

@media (max-width: 750px) {
  .favorite-books  {width: 550px;}
}

@media (max-width: 600px) {
  .favorite-books {width: 450px;}
  table.dataTable,
  .reed-book,
  .dataTables_wrapper .dataTables_paginate,
  .dataTables_wrapper .dataTables_paginate .paginate_button, 
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {font-size: 2vw;}
}

@media (max-width: 500px) {
  .favorite-books  {width: 350px;}
}

@media (max-width: 400px) {
  .favorite-books {width: 280px;}
 table.dataTable,
.reed-book,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button, 
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {font-size: 1vw;}
}
/* End @media favorite-books */

/* social */
.social-title {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    color: #66696c;
    background-color: #fff;
    -webkit-animation: pulsate 10.0s linear infinite;
            animation: pulsate 10.0s linear infinite;
}


.social-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1300px;
   height: 100px;
   margin: 0 auto;
   margin-bottom: 15px;
   margin-top: 15px;
}

.social-two-el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row; 
            flex-direction: row;

    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-container-boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    width: 160px;
    
}

.social-container-boxs a {
	padding: 0;
	margin: 0;
}

.social-icon {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     border: 3px solid #66696c;
     border-radius: 50%;
     height: 50px;
     width: 50px;
     font-size: 20px;
}

.social-container-boxs-logotype {
    padding-left: 10px;
    height: 17px;
    width: 120px;
}

.contact-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	width: 100%;
	padding-bottom: 100px;
	
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.11);
        -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.11);
}

/* style FORM  */
/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 930px;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 0;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
  margin-right: 0;
}

.contact-form {
  margin: 2rem 0;
  margin-right: 0;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
  margin-right: 0;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
  margin-right: 0;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 930px;
  margin-right: 0;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  margin-right: 0;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
  margin-right: 0;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
  margin-right: 0;
  padding: 6px 37px;
  border-radius: 5px;
}

#fs-frm select {
  text-transform: none;
  margin-right: 0;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
  margin-right: 0;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
  margin-right: 0;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 50%;
  margin-right: 0;
}

#fs-frm-inputs {
  margin-right: 0;
}


@media (max-width: 1150px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 670px;}
}

@media (max-width: 750px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 520px;}
}

@media (max-width: 600px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 420px;}
}

@media (max-width: 500px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 320px;}
}

@media (max-width: 400px) {
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm [type="text"], #fs-frm [type="email"],
  #fs-frm #card-element:disabled {width: 250px;}
}

/* footer*/
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	width:100%;
    height:100%;
    padding: 10px 0 50px;
    margin: 0;
    background-color: #f9fafe;
}

.footer-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f9fafe;
    width: 70%;
    height: 400px;
}

.footer-text-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*-webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;*/
    text-align: left;
    line-height: 1.85714285714286;
    background-color: #f9fafe;
    width: 300px;
    height: 260px;
    font-size: 12px; 
    color: #66696c;
}

.footer-contacts-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    line-height: 1.85714285714286;
    background-color: #f9fafe;
    width: 270px;
    height: 260px;
    color: #66696c;
    font-size: 12px;
}

.contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 21px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
	
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
  }

.footer-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    text-align: center;
    height: 40px;
    width: 340px;
    font-size: 12px;
    color: #66696c;

}


.component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/* -- Footer Paralax effect-- */
/*
#site-content {
	position: relative;
    z-index: 1;
} 

#site-footer {
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}
*/
@media (max-width: 900px) {
	.footer-text-widget {display: none;}
	.footer-component {justify-content: center;}
	
}

@media (max-width: 500px) {
	.footer-end {justify-content: center; font-size: 12px;}
	.footer-contacts-info {font-size: 12px;}
	.contact-container a {font-size: 12px;}
}


