@font-face {
    font-family: Antonella script X Bold; 
    src: url('../fonts/Antonella_script.ttf');
}

/* Scroll Bars */
::-webkit-scrollbar {
    width:12px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #1e2327;
    opacity: 1;
    border-radius: 10px;
    height: 300px;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #24292d;
    opacity: 0;
    -webkit-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-width:0;
}

::-webkit-scrollbar-track:hover {
    border-left: solid 1px #aaa;
}
/* End Scroll Bars */

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    	margin: 0;
        padding: 0;
    	font-family: 'Montserrat', sans-serif;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.o-hidden {
    overflow: hidden;
}

/* progress */
 .progress {
     position: fixed;
     left: 0;
     top: 0;
     width: 0%;
     height: 4px;
     background-color: #1e2327;
     z-index:20;
}

/* header */
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    background-color: #2c3137;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
	background-color: #24292d;
}

.adress-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 90%;
    height: 42px;
    padding-bottom: 5px;
	background-color: #24292d;
}

.adress-content-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    color: #fff;
    font-size: 14px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    margin-right: 3px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
        -webkit-font-feature-settings: 'liga';
                font-feature-settings: 'liga';
}

.adress-color-a {
	color: #fff;
}

a {
    text-decoration: none;
    padding: 0 1em;
    display: inline-block;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    color: #3a3a3a;
    font-size: 14px;
}

a:hover {
    color: #2355da;
     outline: 0;
}

.heading-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	width: 70%;
	height: 100%;
    background-color: #2c3137;
	padding: 20px 0;
}
   
.header-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.surname-and-name{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);	
    font-size: 6em;
    font-family: Antonella script X Bold;
    text-shadow: rgb(100, 100, 100) 5px 0 5px,
    rgb(100, 100, 100) 0 1px 0px,
    rgb(100, 100, 100) -1px 0 0px,
    rgb(100, 100, 100) 0 -1px 0px;
}

.header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
    width: 120px;
}

.header-contact-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 	
    background-color: white;
    border-radius: 50px;
	padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 13px;
    color: #4de55c ;
    border: 2px solid #4de55c;
    line-height: 3.2em; 
    outline: none;
    width: 120px;
}

particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-contact-call:hover {
    color: white;
    background-color: #4de55c ;
    border:2px solid rgb(255, 255, 255);
}

/* skills */
.skills-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.skills-component-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-align: end;
            -ms-flex-align: end;
                    align-items: flex-end;
    width: 1300px;
    background-color: #fff;
}

.election-img-box {
    height: 600px;
    width: 600px;
    background-image:  url('../images/imgBackgr.png');
    -webkit-box-shadow: inset -30px -200px 70px -107px rgba(255,255,255,1);
    -moz-box-shadow: inset -30px -200px 70px -107px rgba(255,255,255,1);
    box-shadow: inset -30px -200px 70px -107px rgba(255,255,255,1);
    background-size: cover;
    margin-top: 70px;
    padding-left: 100px;
}

.election-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   height: 100%;
   padding: 50px 0 115px;
}

.element-elections-title {
    text-align: center;
    height: 42px;
    padding-top: 50px;
    text-transform: uppercase;
    color: #66696c;
    font-size: 38px;
    font-weight: 700;
    -webkit-animation: pulsate 10.0s linear infinite;
            animation: pulsate 10.0s linear infinite;
}

@-webkit-keyframes pulsate {
    50% { 
        color: #ffffff;
        text-shadow: rgb(100, 100, 100) 5px 0 5px,
        rgb(100, 100, 100) 0 1px 0px,
        rgb(100, 100, 100) -1px 0 0px,
        rgb(100, 100, 100) 0 -1px 0px; 
    }
}

@keyframes pulsate {
    50% { 
        color: #ffffff;
        text-shadow: rgb(100, 100, 100) 5px 0 5px,
        rgb(100, 100, 100) 0 1px 0px,
        rgb(100, 100, 100) -1px 0 0px,
        rgb(100, 100, 100) 0 -1px 0px; 
    }
}

.election-table-box {
    margin-top: 40px;
    height: 100%;
    width: 400px; 
}

/* about-me*/
.about-me-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #fff;
}

.about-me-title {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    padding-top: 50px;
    text-align: center;
    color: #66696c;
    background-color: #fff;
    -webkit-animation: pulsate 10.0s linear infinite;
            animation: pulsate 10.0s linear infinite;
}

.about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
    text-indent: 20px;
    line-height: 3;
    width: 800px;
    height: 100%;
    font-weight: normal;
    background-color: #fff;
    color: #66696c;
    margin-bottom: 55px;
}

.about-me-a {
     padding: 0;
     margin: 0;
     color: #66696c;
     text-indent: none;
     text-align: justify;
     text-decoration: underline;
}

/* interests */
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
   }
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
   }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
                transform: translateX(calc(-250px * 7));
   }
}

.vertical-margin {
    margin: 50px 0;
}

.slider {
    background: #fff;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

@media (max-width: 1000px) {
    .slider {width: 800px;}
}

@media (max-width: 830px) {
    .slider {width: 700px;}
}

@media (max-width: 730px) {
    .slider {width: 600px;}
}

@media (max-width: 630px) {
    .slider {width: 500px;}
}

@media (max-width: 530px) {
    .slider {width: 400px;}
}

@media (max-width: 430px) {
    .slider {width: 300px;}
}

.slider::before, .slider::after {
    /* right */
    -webkit-box-shadow: inset -200px -34px 70px -124px rgba(255,255,255,1);
    -moz-box-shadow: inset -200px -34px 70px -124px rgba(255,255,255,1);
    box-shadow: inset -200px -34px 70px -124px rgba(255,255,255,1);

    /* left */
    -webkit-box-shadow: inset 200px -34px 70px -124px rgba(255,255,255,1);
    -moz-box-shadow: inset 200px -34px 70px -124px rgba(255,255,255,1);
    box-shadow: inset 200px -34px 70px -124px rgba(255,255,255,1);
	
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

/* gallery */
.gallery-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:100%;
    height:100%;
    padding: 10px 0 50px;
    background-color: #fff;
}

.gallery-component-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1300px;
    height:100%;
    padding: 10px 0 50px;
    background-color: #fff;
}

.gallery-component-title {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: #66696c;
    -webkit-animation: pulsate 10.0s linear infinite;
            animation: pulsate 10.0s linear infinite;
}

.gallery-component-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0 10px;
    margin-bottom: 10px;
    width: 1000px;
    height: 150px;
}

.gallery-component-images-box img  {
    height: 150px;
    width: 150px;
}

.gallery-component-images-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer; 
}

.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
        display: none;
	width:700px;
	height:700px;
}

.container-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.closebtn {
    cursor: pointer;
} 

/* social */
.social-title {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    color: #66696c;
    background-color: #fff;
    -webkit-animation: pulsate 10.0s linear infinite;
            animation: pulsate 10.0s linear infinite;
}


.social-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1300px;
   height: 100px;
   margin: 0 auto;
}

.social-two-el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row; 
            flex-direction: row;

    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-container-boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    width: 160px;
    
}

.social-container-boxs a {
	padding: 0;
	margin: 0;
}

.social-icon {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     border: 3px solid #66696c;
     border-radius: 50%;
     height: 50px;
     width: 50px;
     font-size: 20px;
}

.social-container-boxs-logotype {
    padding-left: 10px;
    height: 17px;
    width: 120px;
}

.contact-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	width: 100%;
	padding-bottom: 100px;
}

.facebook:hover {
     border-color:#4267b2;
     -webkit-box-shadow: 0px 0px 20px #4267b2;
             box-shadow: 0px 0px 20px #4267b2;
     color: #4267b2;
     -webkit-transition-duration: .8s;
     -o-transition-duration: .8s;
     transition-duration: .8s;
}

.instagram:hover {
     border-color: #C13584;
     -webkit-box-shadow: 0px 0px 20px #C13584;
             box-shadow: 0px 0px 20px #C13584;
     color: #C13584;
     -webkit-transition-duration: .8s;
     -o-transition-duration: .8s;
     transition-duration: .8s;
}

.linkedin:hover {
     border-color: #2867B2;
     -webkit-box-shadow: 0px 0px 20px #2867B2;
             box-shadow: 0px 0px 20px #2867B2;
     color: #2867B2;
     -webkit-transition-duration: .8s;
     -o-transition-duration: .8s;
     transition-duration: .8s;
}

.twitter:hover {
     border-color: #1DA1F2;
     -webkit-box-shadow: 0px 0px 20px #1DA1F2;
             box-shadow: 0px 0px 20px #1DA1F2;
     color: #1DA1F2;
     -webkit-transition-duration: .8s;
     -o-transition-duration: .8s;
     transition-duration: .8s;
}

.telegram:hover {
     border-color: #0088cc;
     -webkit-box-shadow: 0px 0px 20px #0088cc;
             box-shadow: 0px 0px 20px #0088cc;
     color: #0088cc;
     -webkit-transition-duration: .8s;
     -o-transition-duration: .8s;
     transition-duration: .8s;
}

.skype:hover {
     border-color: #00AFF0;
     -webkit-box-shadow: 0px 0px 20px #00AFF0;
             box-shadow: 0px 0px 20px #00AFF0;
     color: #00AFF0;
     -webkit-transition-duration: .8s;
     -o-transition-duration: .8s;
     transition-duration: .8s;
}

.facebook-link:hover {
	text-shadow: 0px 0px 20px #4267b2;
        color: #4267b2;
	-webkit-transition-duration: .8s;
        -o-transition-duration: .8s;
        transition-duration: .8s;
}

.telegram-link:hover {
        text-shadow: 0px 0px 20px #0088cc;
        color: #0088cc;
        -webkit-transition-duration: .8s;
        -o-transition-duration: .8s;
        transition-duration: .8s;
}

.twitter-link:hover {
        text-shadow: 0px 0px 20px #1DA1F2;
        color: #1DA1F2;
	-webkit-transition-duration: .8s;
        -o-transition-duration: .8s;
        transition-duration: .8s;
}

.linkedin-link:hover {
        text-shadow: 0px 0px 20px #2867B2;
        color: #2867B2;
        -webkit-transition-duration: .8s;
        -o-transition-duration: .8s;
        transition-duration: .8s;
}

.instagram-link:hover {
       text-shadow: 0px 0px 20px #C13584;
       color: #C13584;
       -webkit-transition-duration: .8s;
       -o-transition-duration: .8s;
       transition-duration: .8s;
}

.skype-link:hover {
        text-shadow: 0px 0px 20px #00AFF0;
        color: #00AFF0;
	-webkit-transition-duration: .8s;
        -o-transition-duration: .8s;
        transition-duration: .8s;
}

/* footer*/
footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	width:100%;
    height:100%;
    padding: 10px 0 50px;
    background-color: #f9fafe;
}

.footer-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f9fafe;
    width: 70%;
    height: 300px;
}

.footer-text-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    line-height: 1.85714285714286;
    background-color: #f9fafe;
    width: 300px;
    height: 260px;
    font-size: 12px; 
    color: #66696c;
}

.footer-contacts-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    line-height: 1.85714285714286;
    background-color: #f9fafe;
    width: 270px;
    height: 260px;
    color: #66696c;
    font-size: 12px;
}

.contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 21px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
	
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
  }

.footer-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    text-align: center;
    height: 40px;
    width: 340px;
    font-size: 12px;
    color: #66696c;

}
