.header {
    display: flex;
    padding: 20px;
    background: #fff;
    min-height: 300px;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    transition-duration: .2s;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    background-image: url('../../image/bootstrap-code-img.png');    
}

.header:hover {
    filter: brightness(120%);
}

.title {
    color: #ccc;
}
