.main {
    padding: 15px 15px 100px 15px;
    color: #65676B;
    background: #fff;
    min-height: calc(100vh - 409px);
}

.page-none {
    display: none;
}

.active {
    display: block;
    color: #0d6efd;
    box-shadow: #0d6efd 0px 2px;
}
